@model IEnumerable<LeaveSystemOnline.LEAVEDATA>
@{
    ViewBag.Title = "เช็คสถานะการลา";
}
<h2 align="center">เช็คสถานะการลา</h2>
<p>
    @using (Html.BeginForm("checkStatus", "LeaveStatus", FormMethod.Get))
    {
        <input type="text" name="search" placeholder="หมายเลขใบลางาน" />
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
    }
</p><br />
@using (Html.BeginForm("cancleLeave", "LeaveStatus", FormMethod.Post, new { name = "cancleStatus", id = "cancleStatus" }))
{
    <input type="hidden" name="id" />
}
<div class=" no-padding container-fixed-lg bg-white">
    <div class="container">
        <div class="card card-transparent">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <p>รหัสใบลา</p>
                            </th>
                            <th>
                                <p>ประเภทการลา</p>
                            </th>
                            <th>
                                <p>วันที่เริ่มลา</p>
                            </th>
                            <th>
                                <p>วันที่สิ้นสุดการลา </p>
                            </th>
                            <th>
                                <p>สถานะ</p>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" style="color:red" align="center">
                                No Found Data
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="item-id">
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LEAVETYPE.type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstDayOfLeave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastDayOfLeave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LEAVESTATUS.status)
                                    </td>
                                    @{ var id = Convert.ToInt32(Session["id"]);}
                                    <td>
                                        @if (item.LEAVESTATUS.status == "รอการอนุมัติ" && item.emp_id == id)
                                        {
                                            <input type="button" value="ยกเลิก" class="btn btn-danger" id="cancel" />
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

 @section Scripts
{
<script>
    $(".btn-danger").click(function () {
        if (Swal.fire({
            title: 'ต้องการยกเลิกใช่ไหม?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'ยกเลิกการขอลางานสำเร็จ',
                }
                )
                var id = $(this).closest("tr").find(".item-id").text();
                document.cancleStatus.id.value = id;
                document.getElementById("cancleStatus").submit();
            } return false;
        })) {
        }
    });

    //$("#cancel").click(function () {
    //    Alert_confirm();
    //    return false;
    //    var id = $(this).closest("tr").find(".item-id").text();
    //    document.cancleStatus.id.value = id;
    //    document.getElementById("cancleStatus").submit();
    //});

    function Alert_confirm() {
        Swal.fire({
            title: 'ต้องการยกเลิกใช่ไหม?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'ยกเลิกการขอลางานสำเร็จ',
                } 
                )
            } return false;
        })
    }
</script>
}
