@model IEnumerable<LeaveSystemOnline.LEAVEDATA>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var m = Model.FirstOrDefault();
}

<div class="container container-fixed-lg">
    <div class="card card-default">
        <div class="card-body">
            @using (Html.BeginForm("List", "ReportLeaveData", FormMethod.Get))
            {
                <h4 align="center">รายงานการลางาน</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <table>
                                <tr>
                                    <th><input type="text" name="search" class="form-control pull-right" placeholder="ค้นหาแผนก" /></th>
                                    <th><input type="submit" name="submit" value="ค้นหา" class="btn btn-primary" /></th>
                                    <th>
                                        <a href="@Url.Action("List", "ReportLeaveData")">
                                            <img src=@Url.Content("~/Content/Theme/menu/refresh-64.png") width="40" height="40" />
                                        </a>
                                    </th>
                                    <th>
                                    <a class="btn btn-warning" href="@Url.Action("ShowPieChart","ReportLeaveData")">
                                        ดูแผนภูมิ
                                        </a>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
            <br />
            <div style="overflow:auto">
                <table class="table table-hover table-responsive-block" id="tableWithSearch">
                    <thead>
                        <tr>
                            <th class="text-center" style="font-size:16px" scope="col"><p style="font-size:18px">ลำดับ</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">เลขใบลางาน</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">ชื่อพนักงาน</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">แผนก</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">รายละเอียด</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">วันที่เริ่มต้นลา</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">วันที่สิ้นสุดการลา</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">สถานะ</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">ประเภทการลา</p></th>
                            <th class="text-center" scope="col"><p style="font-size:16px">ไฟล์ที่แนบ</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int idx = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center" scope="row"><p style="font-size:14px">@idx</p></td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.id)</p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.EMPLOYEE.firstName) @Html.DisplayFor(modelItem => item.EMPLOYEE.lastName)</p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.EMPLOYEE.department) </p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.description) </p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.firstDayOfLeave) </p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.LastDayOfLeave) </p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.LEAVESTATUS.status) </p>
                                </td>
                                <td class="text-center">
                                    <p style="font-size:14px">@Html.DisplayFor(modelItem => item.LEAVETYPE.type) </p>
                                </td>
                                @{ if (item.fileDocument != null)
                                    {
                                        <td class="text-center">
                                            @Html.HiddenFor(modelItem => item.fileDocument)
                                            <a style="font-size:14px" target="_blank" href="~/UploadFile/@{@Html.DisplayTextFor(modelItem => item.fileDocument)}">
                                                <img src="@Url.Content("~/Content/Theme/menu/filepdf-32.png")" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            @Html.HiddenFor(modelItem => item.fileDocument)
                                        </td>
                                    }
                                }
                            </tr>
                            idx++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
