@model IPagedList<LeaveSystemOnline.EMPLOYEE>

@{
    ViewBag.Title = "ข้อมูลพนักงาน";
}
@using PagedList;
@using PagedList.Mvc;

    <h2>ข้อมูลพนักงาน</h2>

<p>
    @using (Html.BeginForm("ListEmployee", "Employee", FormMethod.Get))
    {
        <input type="text" name="search" placeholder="Employee Name" />
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
        @Html.ActionLink("Refresh", "ListEmployee", "Employee", new { @class = "btn btn-danger" });
        @Html.ActionLink("เพิ่มข้อมูลพนักงาน", "CreateEmployee","Employee", new { @class = "btn btn-warning" , @align = "right"});
    }
</p>
<div style="overflow:auto">
    <div class=" no-padding    container-fixed-lg bg-white">
        <div class="container">
            <!-- START card -->
            <div class="card card-transparent">
                <div class="card-body">
                    <table class="table" id="tableWithExportOptions">
                        <tr>
                            <th>
                                <p>รหัสพนักงาน</p>
                            </th>
                            <th>
                                <p>ชื่อจริง</p>
                            </th>
                            <th>
                                <p>นามสกุล</p>
                            </th>
                            <th>
                                <p>วันเกิด</p>
                            </th>
                            <th>
                                <p>รหัสบัตรประชาชน</p>
                            </th>
                            <th>
                                <p>บ้านเลขที่</p>
                            </th>
                            <th>
                                <p>ซอย</p>
                            </th>
                            <th>
                                <p>ถนน</p>
                            </th>
                            <th>
                                <p>แขวง</p>
                            </th>
                            <th>
                                <p>เขต</p>
                            </th>
                            <th>
                                <p>จังหวัด</p>
                            </th>
                            <th>
                                <p>รหัสไปรษณีย์</p>
                            </th>
                            <th>
                                <p>รหัสสิทธิ์เข้าใช้งาน</p>
                            </th>
                            <th>
                                <p>รหัสผ่าน</p>
                            </th>
                            <th></th>
                        </tr>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="14" style="color:red" align="center">
                                    No Found Data
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.birthdate, "ShortDateTime")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.identificationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.homeNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.soi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.road)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subdistricts.NameInThai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Districts.NameInThai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Provinces.NameInThai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.postalCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AUTHOR.tier)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>
                                        @Html.ActionLink("เพิ่มสิทธิ์ผู้ใช้งาน", "EditAuthorEmployee", new { id = item.id })
                                    </td>
                                </tr>
                            }
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, index => Url.Action("ListEmployee", "Employee", new { index, search = Request.QueryString["search"] }))
