@model IPagedList<LeaveSystemOnline.EMPLOYEE>

@{
    ViewBag.Title = "ข้อมูลพนักงาน";
}
@using PagedList;
@using PagedList.Mvc;

<h2>ข้อมูลพนักงาน</h2>

<p>
    @using (Html.BeginForm("ListEmployee", "Employee", FormMethod.Get))
    {
        <input type="text" name="search" placeholder="Employee Name" />
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
        @Html.ActionLink("Refresh", "ListEmployee", "Employee", new { @class = "btn btn-danger" });
        @Html.ActionLink("เพิ่มข้อมูลพนักงาน", "CreateEmployee", "Employee", new { @class = "btn btn-warning", @align = "right" });
    }
</p>
<div style="overflow:auto">
    <div class=" no-padding container-fixed-lg bg-white">
        <div class="container">
            <div class="card card-transparent">
                <div class="card-body">
                    <table class="table table-striped" id="tableWithExportOptions">
                        <thead>
                            <tr>
                                <th>รหัสพนักงาน</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>วันเกิด</th>
                                <th>รหัสบัตรประชาชน</th>
                                <th>เบอร์โทร</th>
                                <th>บ้านเลขที่</th>
                                <th>ซอย</th>
                                <th>ถนน</th>
                                <th>ตำบล</th>
                                <th>อำเภอ</th>
                                <th>จังหวัด</th>
                                <th>รหัสไปรษณีย์</th>
                                <th>สิทธิ์การใช้งาน</th>
                                <th>อีเมล</th>
                                <th>รหัสผ่าน</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.firstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.lastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.birthdate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.identificationNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.homeNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.soi)</td>
                                    <td>@Html.DisplayFor(modelItem => item.road)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Subdistricts.NameInThai)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Districts.NameInThai)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Provinces.NameInThai)</td>
                                    <td>@Html.DisplayFor(modelItem => item.postalCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AUTHOR.tier)</td>
                                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.password)</td>
                                    <td> <a href="@Url.Action("EditAuthorEmployee","Employee", new { id = item.id })">
                                         <img src="@Url.Content("~/Content/Theme/menu/authorization.png")"/>
                                         </a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, index => Url.Action("ListEmployee", "Employee", new { index, search = Request.QueryString["search"] }))
