<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="~/Content/Theme/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Theme/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Theme/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Theme/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
    <meta content="Ace" name="author" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="~/Content/Theme/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Theme/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/Theme/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/Theme/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/css/dashboard.widgets.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Theme/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Theme/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="main-stylesheet" href="~/Content/Theme/pages/css/themes/modern.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="fixed-header horizontal-menu horizontal-app-menu " style="overflow:auto">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
        <div class="header-inner header-md-height">
            <a href="#" class="btn-link toggle-sidebar d-lg-none text-white sm-p-l-0 btn-icon-link" data-toggle="horizontal-menu">
                <i class="pg-icon">menu</i>
            </a>
            <div class="">
                <div class="brand inline no-border d-sm-inline-block">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/Theme/assets/img/logo_white.png" alt="logo" width="78" height="22">
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <!-- START User Info-->
                <div class="pull-left p-r-10 fs-14 d-lg-inline-block d-none text-white">
                    <fieldset>
                        @if (Session["name"] != null)
                        {
                            <text> @Session["name"] </text>
                        }
                    </fieldset>
                </div>
                <div class="dropdown pull-right d-lg-block">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="profile dropdown">
                        <span class="thumbnail-wrapper d32 circular inline">
                            <img src="~/Content/Theme/login/user.png" alt="" width="32" height="32">
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                        <a href="#" class="dropdown-item">
                            <span>
                                Signed in as <br />

                                @if (Session["name"] != null)
                                {
                                    <b> <text> @Session["name"] </text> </b>
                                }
                            </span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">สิทธิ์ผู้ใช้งาน : <text>@Session["author"]</text></a>
                        @*<a href="#" class="dropdown-item" id="id" hidden>@Session["id"]</a>
                            <a href="#" class="dropdown-item" id="drpart" hidden>@Session["depart"]</a>*@
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Logout","Home")" class="dropdown-item">Logout</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item fs-12 hint-text">To day is @DateTime.Now<br /></span>
                    </div>
                </div>
                <!-- END User Info-->
            </div>
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
                    <a href="#" class="btn-link header-icon toggle-sidebar d-lg-none" data-toggle="horizontal-menu">
                        <i class="pg-icon">close</i>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <span class="title">พนักงาน</span>
                                <span class=" arrow"></span>
                            </a>
                            <ul class="">
                                <li class="">
                                    <a href="@Url.Action("ListEmployee","Employee")">ข้อมูลพนักงาน</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("CreateEmployee","Employee")">เพิ่มข้อมูลพนักงาน</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="title">สิทธิ์การใช้งาน</span>
                                <span class=" arrow"></span>
                            </a>
                            <ul class="">
                                <li class="">
                                    <a href="@Url.Action("ListAuthor","Author")">ข้อมูลระดับสิทธิ์การใช้งาน</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("ListEmployee","Employee")">แก้ไขสิทธิ์การใช้งาน</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="title">ขอลางาน</span>
                                <span class=" arrow"></span>
                            </a>
                            <ul class="">
                                <li class="">
                                    <a href="@Url.Action("checkStatus","LeaveStatus")">เช็คสถานะลางาน</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Index","LeaveData")">ขอลางาน</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="title">ประเภทการลา</span>
                                <span class=" arrow"></span>
                            </a>
                            <ul class="">
                                <li class="">
                                    <a href="@Url.Action("List","LeaveType")">ประเภทการลา</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("List","ReportLeaveData")">
                                <span class="title">รายงานการลางาน</span>
                            <a href="@Url.Action("List","Approve")">
                                <span class="title">อนุมัติการลางาน</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","ReportLeaveDataDepart")">
                                <span class="title">รายงานของแผนก</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("History", "ReportLeaveDataDepart")">
                                <span class="title">ประวัติการลา</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LeaveType")">
                                <span class="title">ประเภทการลาแก้ไขไม่ได้</span>
                            </a>
                        </li>                        
                    </ul>
                    <a href="#" class="search-link d-flex justify-content-between align-items-center d-lg-none" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER -->
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Leave System Online For Project SE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/Theme/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
    <script src="~/Content/Theme/assets/plugins/liga.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/classie/classie.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/jquery-autonumeric/autoNumeric.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/mapplic/js/hammer.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="~/Content/Theme/assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="~/Content/Theme/assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/skycons/skycons.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/quill/quill.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/moment/moment.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-typehead/typeahead.bundle.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/bootstrap-typehead/typeahead.jquery.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/handlebars/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/Theme/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="~/Content/Theme/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/plugins/quill/quill.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="~/Content/Theme/pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/Content/Theme/assets/js/dashboard.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/js/form_elements.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/js/scripts.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/js/datatables.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/js/demo.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/js/form_elements.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <script>
        $(function () {
            $('#form-login').validate()
        })
    </script>


</body>
</html>
